/* src/components/Menu.css */

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #010409;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.menu-section {
  display: flex;
  flex: 1; /* Distribuye el espacio de manera equitativa */
  justify-content: space-evenly; /* Mantiene los elementos más centrados */
  align-items: center;
}

.menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.3; /* Ajusta el logo sin ocupar tanto espacio */
}

.menu-logo-img {
  height: 60px;
  width: 60px;
  position: relative;
}

.menu-item {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.menu-item-active {
  color: #ffa528;
  font-weight: bold;
}

.menu-item:hover {
  color: #ffa528;
}
.menu-toggle {
  display: none;
}
/* ------------------ RESPONSIVE ------------------ */
@media screen and (max-width: 768px) {
  .menu-container {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
    background-color: #010409; /* fondo negro para el menú abierto */
  }

  .menu-logo {
    display: none; /* Oculta el logo en mobile */
  }

  .menu-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
    background-color: #010409;
  }

  .menu-section.active {
    display: flex;
  }

  .menu-item {
    margin: 10px 0;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    font-size: 28px;
    color: white;
    cursor: pointer;
    z-index: 1100;
  }

  .menu-container.open {
    background-color: #010409;
  }
}
