.rutina-container {
  padding: 2rem;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 150px !important

  ;
}

.rutina-lista {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(560px, 1fr));
  gap: 1.5rem;
  align-items: stretch;
}

.rutina-nombre-rutina {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1rem;
}
.rutina-nombre-p-rutina {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1rem;
}

.rutina-fecha {
  font-size: 0.9rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.rutina-card-rutina {
  background-color: #f9fafb1b;
  color: #000000;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rutina-header .fecha {
  font-size: 0.9rem;
  color: #000000;
}

.ejercicios {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.ejercicio {
  background-color: #e5e7eb;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
}

.rutina-botones {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.rutina-botones .btn-ver,
.rutina-botones .btn-editar {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 0.6rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-ver {
  background-color: #60a5fa;
  color: white;
}

.btn-editar {
  background-color: #fbbf24;
  color: #ffffff;
}
.btn-eliminar {
  background-color: #ce0000;
  color: #ffffff;
  font-weight: bold;
}

.btn-agregar {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #10b981;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
}
